{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}

{% block checkout_title %}{% trans "Selecciona el método de pago" %}{% endblock %}

{% block payment_details %}
    <!--<div class="page-header">
        <h1>{% trans "Choose payment method" %}</h1>
    </div>-->

    {% block payment_details_content %}
        <div class="well well-info">
            <h3 class="th-title">{% trans "PayPal" %} </h3>
            <div class="alert alert-warning">
                <h4 >{% trans "El cobro se realizará vía PayPal:" %}</h4>
                <p>{% trans "Al continuar con su proceso de compra, usted será redirigido al sitio de PayPal donde podrá realizar su pago para después regresar a nuestra página de confirmación" %}</p>

            </div>
        </div>

    <form action="{% url 'checkout:preview' %}" class="payment-details form-horizontal" method="post">
        {% csrf_token %}
        <button type="submit" class="pull-right btn btn-large btn-primary" data-loading-text="{% trans 'Submitting...' %}">{% trans "Continue" %}</button>
    </form>
    {% endblock %}
{% endblock payment_details %}

{% block onbodyload %}
    {# Toggle visibility of the billing address form #}
    $("input[name='same_as_shipping']").change(function(){
        $("#billing_address_form").toggle();
    });
{% endblock %}
