{% extends "checkout/checkout.html" %}
{% load local_currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview order" %}
{% endblock %}

{% block payment_method %}
    <div class="span6">
    <h3>{% trans "Payment" %}</h3>
    <div class="well well-success" data-behaviours="match-height">

        <h4>PayPal</h4>
        <p>{% blocktrans with amount=order_total.incl_tax|local_currency %}
            {{ amount }} Serán cargados a su cuenta de PayPal:
        {% endblocktrans %}</p>
        {{ paypal_form.render }}


    </div>
</div>
{% endblock %}




{% block place_order %}
    <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}{{ bankcard_form }} {{ paypal_form }}{% endblock %}
        </div>

        <div class="form-actions clearfix">
            <div class="row-fluid">
                <div class="span3 offset9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-large btn-block js-disable-on-click" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}