{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping address" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block shipping_address %}

    {% if request.user.is_authenticated %}
        {% if addresses %}
            <h3 class="th-title">{% trans "An address from your addressbook?" %}</h3>
            <div class="choose-block">
                <ul class="list-unstyled clearfix">
                    {% for address in addresses %}
                        {% block select_address_form %}
                            <li class="">
                                <div class="well clearfix">
                                    <address>
                                        {% block select_address_fields %}
                                            {% for field in address.active_address_fields %}
                                                {% if not forloop.last %}
                                                <span>{% trans  field  %}</span>{% if not forloop.first %}<br/>{% endif %}
                                                {% else %}
                                                <span>{{ address.country }}</span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endblock %}
                                    </address>
                                    <form action="{% url 'checkout:shipping-address' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="ship_to" />
                                        <input type="hidden" name="address_id" value="{{ address.id }}" />
                                        {% if address.is_default_for_shipping %}
                                            <button type="submit" class="btn btn-success btn-sm ship-address"><i class="icon-ok"></i> {% trans "Ship to your default shipping address" %}</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-primary btn-sm ship-address">{% trans "Ship to this address" %}</button>
                                        {% endif %}
                                        
                                        <div class="btn-group address-controls">
                                            <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-primary btn-sm ">{% trans "Edit address" %}</a>
                                            <button class="btn  btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address">{% trans "Delete" %}</a></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% if forloop.counter|divisibleby:2 %}
                                </ul>
                                {% if not forloop.last %}<ul class="row">{% endif %}
                            {% endif %}
                        {% endblock %}
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"><h3 class="th-title">
                {% trans "Or a new address?" %}
            </h3>
            </div>
        {% endif %}
    {% endif %}

    {% block new_address_form %}
        <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address" class="form form-horizontal">
            <div class="well">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=form %}
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">{% trans "Continue" %}</button>
                    {% trans "or" %} <a href="{% url 'promotions:home' %}">{% trans "Regresar" %}</a>
                </div>
            </div>
        </form>
    {% endblock %}
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
