{% extends "layout_front.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login or register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}

    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb th-breadcrumb">
                <li>
                    <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
                </li>
                <li class="active">{% trans 'Acceso' %}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <div class="th-logins">
        <div class="col-sm-6 th-logins-col login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="login-col" >
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn btn-large btn-primary js-disable-on-click" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
            </form>
        </div>
        <div class="col-sm-6 th-logins-col th-logins-col-right register_form">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="login-col">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn btn-large btn-primary js-disable-on-click" data-loading-text="{% trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>

{% endblock content %}
