{% load i18n %}
{% load local_currency_filters %}

<p>
    {% if basket.is_empty %}
        {% trans "Your basket is now empty" %}
    {% else %}
        {% if basket.is_tax_known %}
            {% blocktrans with total=basket.total_incl_tax|local_currency:basket.currency %}
            El costo total de su pedido asciende a <strong>{{ total }}</strong>
            {% endblocktrans %}
        {% else %}
            {% blocktrans with total=basket.total_excl_tax|local_currency:basket.currency %}
            El costo total de su pedido asciende a <strong>{{ total }}</strong>
            {% endblocktrans %}
        {% endif %}
    {% endif %}
</p>

